.lightBlue{
    width: 100vw;
    height: 6vh;
    background-color: rgb(19, 89, 194);
    position: absolute;
    top: 0vh;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.connect{
    font-size: 2.5vh;
    position: absolute;
    left: 15%;

}

.mail{
    position:relative;
    left: 50%;
    font-size: 2.5vh;
  
}

.phone{
    position: relative;
    left: 55%;
    font-size: 2.5vh;
}

.white{
    width: 100vw;
    height: 17vh;
}

.white .logo{
    max-width: 5vw;
    position: absolute;
    border-radius: 10%;
    top: 6.5vh;
    left: 5vw
}

.white .callUs{
    background-color: blue;
    position: absolute;
    top: 8vh;
    left: 80vw;
    width: 10vw;
    height: 7vh;
    border-radius: 15%;
    font-size: 1.9vh;

}