.sectCont{
    width: 18vw;
    height: 5vh;
    position: relative;
    display: flex;
    top: 8.5vh;
    left: 35vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6vh
}

.sectCont h4, p{
    color: black
}

@media (min-width: 300px) and (max-width: 840px){
    .sectCont{
        display:none
    }
}

