.sectCont{
    width: 18vw;
    height: 5vh;
    position: relative;
    display: flex;
    top: 50%;
    left: 37%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 60%
}

.sectCont h4, p{
    color: black
}


