.cardsSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
    position: absolute;
    left: 3vh;
    top: 105vh;
}


@media (min-width: 300px) and (max-width: 840px){
    .cardsSection{
        position: absolute;
        top: 32%;
        height: 15%;
        width:90%;
        display: flex;
    }

    
}