.section6{
    position: relative;
    top: 155vh;
    justify-content: center;
    width: 77vw;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;

}

.section6 h2{
    color: rgb(51, 51, 51);
    text-align: center;
    font-size: 5.5vh
}

.sect6Cards{
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    padding-left: 5vw;
}

@media (min-width: 300px) and (max-width: 840px){
    .section6{
        position: absolute;
        top: 280%;
        left: 3%;
        padding-left: 0%;
        padding-right: 0%;
        width: 93vw;
        align-items: center;
    }

    .section6 .sect6Title{
        font-size: 2vh
    }

    .sect6Cards{
        position: relative;
        bottom: 5%;
        max-height: 77vh;
        width: 85vw;
        display: grid;
        grid-template-columns: repeat(2, minmax(50px, 1fr));
        padding-left: 5vw;
        justify-content: center;
    }



}